@import './styles/grid-breakpoints.scss';
@import './fonts.scss';
@import './styles/variables.scss';
@import './styles/generics.scss';
@import './styles/mixins.scss';
@import './pages/dashboard/DashboardPage.scss';
@import './pages/dashboard/UnassignedPage/UnassignedPage.scss';
@import './pages/dashboard/AssignedPage/AssignedPage.scss';
@import './pages/dashboard/DraftsPage/DraftsPage.scss';
@import './pages/dashboard/SettingsPage/SettingsPage.scss';
@import './pages/dashboard/ConversationPage/ConversationPage.scss';
@import './pages/dashboard/SavedRepliesPage/SavedRepliesPage.scss';
@import './components/Sidenav/Sidenav.scss';
@import './components/AddNewSavedReply/AddNewSavedReply.scss';
@import './components/UserDetails/UserDetails.scss';
@import './components/Reply/Reply.scss';
@import './components/EditableAccordion/EditableAccordion.scss';
@import './components/UnreadIcon/UnreadIcon.scss';
@import './components/Header/Header.scss';
@import './components/DividerWithText/DividerWithText.scss';
@import './components/Content/Content.scss';
@import './components/ReplyBox/ReplyBox.scss';
@import './components/Loader/Loader.scss';
@import './components/TicketSummary/TicketSummary.scss';
@import './components/DropdownMenu/DropdownMenu.scss';
@import './components/UserIcon/UserIcon.scss';
@import './components/ConversationHeader/ConversationHeader.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page-container {
  background-color: #f9fafa;
  height: 100vh;
  position: relative;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 400px;
  @media screen and (max-width: #{$sm}) {
    width: 90%;
    margin: 0 auto;
  }

  .logo-area {
    margin-bottom: 6.4rem;
    justify-self: flex-start;

    img {
      @media screen and (max-width: #{$sm}) {
        width: 250px;
      }
    }
  }

  h1 {
    margin-top: 0;
  }

  .auth-content {
    padding: 1.6rem 3.2rem;
    width: 400px;
    background: #fff;
    border-radius: 4px;
    border: none;
    -webkit-box-shadow: 0 5px 30px 0 rgb(39 63 74 / 15%);
    box-shadow: 0 5px 30px 0 rgb(39 63 74 / 15%);

    @media screen and (max-width: #{$sm}) {
      width: 100%;
    }
  }

  .login {
    display: flex;
    flex-direction: column;

    .bottom-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        &:not(:first-child) {
          margin-top: 1.6rem;
        }
        text-align: center;
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;

  input {
    margin-top: 0.4rem;
  }
}

.btn-like-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  border-radius: none;
  display: inline;
  font-size: 1.6rem;
  width: auto;
  text-align: center;

  &.block {
    display: block;
    width: 100%;
    margin-top: 1.6rem;
  }
}

button {
  &:disabled {
    background-color: grey;
    cursor: default;
    border: none;
    &:hover {
      background-color: grey;
    }
  }
}

.btn-active {
  background-color: $active-blue;
  border: 1px solid $active-blue;
  color: #fff;

  &:hover {
    background-color: #0e75bf;
  }
}
