@import '@styles/variables.scss';

.menu-items {
  font-size: 1.6rem;
  gap: 2rem;
  .menu-item {
    text-decoration: none;
    position: relative;
    color: $green;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: 0;
      border-bottom: 2px solid currentColor;
      transition: left 0.3s ease-out, right 0.3s ease-out;
    }

    &:hover::after {
      left: 0;
      right: 0;
    }
  }
}
