.divider {
  width: 100%;

  mat-divider {
    margin-top: 8px;
    margin-bottom: 8px;

    @media print {
      margin-top: 4px !important;
      margin-bottom: 4px !important;
    }

    &.max {
      width: 100%;
    }
    &.three-quarters {
      width: 75%;
    }
    &.half {
      width: 50%;
    }
    &.quarter {
      width: 25%;
    }
  }
}
