<div class="experience-container">
  <h4 class="position">{{ position.toUpperCase() }}</h4>
  <div class="experience-details">
    <span class="company detail">{{ company.toUpperCase() }}</span>
    <span class="location detail">{{ city }}</span>
    <span class="period detail">{{ period }}</span>
  </div>
  <div class="experience-responsabilities">
    <ul role="list" class="responsabilities">
      <li role="listitem">
        <span class="responsibility"
          >respons1</span
        >
      </li>
      <li>
        <span class="responsibility"
          >Working with tools like: AngularJS, Angular, React, SCSS, NodeJS,
          Jira</span
        >
      </li>
    </ul>
  </div>
</div>
