<div
  fxFlex="100%"
  fxLayout="column"
  fxLayoutAlign="start start"
  class="experience-container"
>
  <h4 class="position">{{ position.toUpperCase() }}</h4>
  <div
    fxFlex="100%"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    fxLayoutGap="8px"
    class="experience-details"
  >
    <span class="company detail">{{ company.toUpperCase() }}</span>
    <span class="location detail">{{ city }}</span>
    <span class="period detail">{{ period }}</span>
  </div>
  <div class="experience-responsabilities">
    <ul role="list" class="responsabilities">
      <li *ngFor="let item of responsibilities" role="listitem">
        <span class="responsibility">{{ item | token }}</span>
      </li>
    </ul>
  </div>
</div>
