@import '../../../colors.scss';

.page-header {
  width: 100%;

  .page-title {
    width: 100%;
  }
}

.title {
  width: 100%;
  white-space: nowrap;

  @media print {
    font-size: 18px !important;
  }
}

mat-icon {
  margin-left: 8px;
  ::ng-deep {
    svg {
      fill: $gray-700;
    }
  }
}
