$sizes: 12;

@mixin margin-classes {
  @for $i from 1 through $sizes {
    $margin: $i * 0.25rem;
    .m-#{$i} {
      margin: $margin;
    }
    .ml-#{$i} {
      margin-left: $margin;
    }
    .mr-#{$i} {
      margin-right: $margin;
    }
    .mt-#{$i} {
      margin-top: $margin;
    }
    .mb-#{$i} {
      margin-bottom: $margin;
    }
    .mx-#{$i} {
      margin-left: $margin;
      margin-right: $margin;
    }
    .my-#{$i} {
      margin-top: $margin;
      margin-bottom: $margin;
    }
  }
}
@include margin-classes;

@mixin extra-small {
  @media screen and (max-width: #{$xs + 0.9}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$sm + 0.9}) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: #{$md + 0.9}) {
    @content;
  }
}

@mixin large {
  @media screen and (max-width: #{$lg + 1}) {
    @content;
  }
}
