// dimensions
$navbar-height: 7rem;
$sidenav-width: 17.5rem;

// colors
$white-bg-color: #f9fafa;
$dark-bg-color: rgb(5, 5, 5);
$white: rgb(219, 219, 219);
$basic-green: #7be82e;
$grey-bg-color: #222;
$light-grey: #464444;
$dark-green: #19901a;
$green: #0f0;
