// dimensions
$navbar-height: 7rem;
$sidenav-width: 300px;

// colors
$white-bg-color: #f9fafa;
$dark-bg-color: rgb(5, 5, 5);
$white-text-color: rgb(219, 219, 219);
$basic-green: #7be82e;
$grey-bg-color: #222;
$light-grey: #464444;
