@import '@styles/variables.scss';
@import '@styles/mixins.scss';

$max-width: 50rem;

.contact {
  height: 100%;
  img {
    border-radius: 50%;
    aspect-ratio: 1;
  }

  .contact-info {
    height: 100%;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;

    @include small {
      gap: 2.5rem;
    }

    .social {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 100%;

      @include small {
        align-items: center;
        gap: 2.5rem;
      }

      &--details,
      &--name-position {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
      }

      &--details {
        a,
        div {
          color: $white;
          svg {
            fill: $green;
          }
        }
      }

      &--name-position {
        @include small {
          align-items: center;
        }

        &--position {
          color: $white;
          @include extra-small {
            text-align: center;
          }
        }
      }
    }

    .social-links {
      svg {
        width: 2.4rem !important;
        height: 2.4rem;
        fill: $green;
      }
    }
  }

  .page-content {
    @include extra-small {
      max-width: $xs;
      padding: 0 0.5rem;
    }

    @include small {
      max-width: $max-width;
      padding: 0 1rem;
    }

    @include medium {
      max-width: $max-width;
      padding: 0 1.5rem;
    }

    @include large {
      max-width: $max-width;
      padding: 0 2rem;
    }
  }
}
