.social {
  margin-top: 16px;
  margin-bottom: 16px;
  @media print {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.email-container,
.phone-container {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 48px;
}
