@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.navbar {
  height: $navbar-height;
  border-bottom: 0.1px solid $light-grey;
  background-color: $dark-bg-color;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;

  @include small {
    height: calc($navbar-height / 1.5);
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1.2rem;
    .trigger {
      margin-left: auto;
      width: 2.4rem;
      height: 2.4rem;
      fill: $basic-green;
      z-index: 10;
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;

  @media screen and (min-width: #{$sm}) {
    display: none;
  }
}
