@import "../../../breakpoints.scss";

.projects-container {
  width: 100%;
  margin-bottom: 64px;
}

app-horizontal-divider {
  width: 100%;
}

mat-accordion {
  width: 100%;
}

.description-gif {
  width: 100%;
}

mat-expansion-panel {
  width: 100%;
  &.mat-expansion-panel-spacing {
    margin: 0;
  }
}

.projects {
  margin-bottom: 64px;
  margin: 0 1px 64px;

  .project-description-paragraph {
    margin: 16px 0;
    font-size: 16px;
  }

  .project-card {
    &:first-child {
      margin-top: 8px;
    }
    &:not(:first-child) {
      margin-top: 16px;
    }

    mat-card {
      height: 100%;
      padding: 8px 0;

      mat-card-actions {
        margin-top: auto;
      }
    }
    .detail {
      font-weight: 300;
      &:not(:last-child) {
        &::after {
          content: " | ";
          margin-left: 4px;
          margin-right: 4px;
        }
      }
    }
  }
}
