.resume-container {
  width: 100%;
  margin-bottom: 64px;
}

app-horizontal-divider {
  width: 100%;
}

.resume-content-parapgraph {
  width: 100%;
  @media print {
    margin-bottom: 20px !important;
  }
}

app-content {
  width: 100%;
}
