<div
  fxFlex="100%"
  fxLayoutAlign="center start"
  fxLayout="column"
  fxLayoutGap="16px"
  class="resume-container"
>
  <app-title [text]="'resume.title' | token">
    <app-download
      [downloadUrl]="'/assets/Silviu-Alexandru_Dinu_CV_ENG.pdf'"
      [text]="'resume.downloadAction' | token"
    ></app-download>
  </app-title>

  <app-horizontal-divider></app-horizontal-divider>

  <app-title [text]="'resume.about.title' | token" [size]="'large'"></app-title>
  <app-content>
    <div class="resume-content-parapgraph">
      {{ "resume.about.content" | token }}
    </div>
  </app-content>

  <app-horizontal-divider></app-horizontal-divider>

  <app-title [text]="'resume.title1' | token" [size]="'large'"></app-title>
  <app-content>
    <div *ngFor="let item of experiences" class="resume-content-parapgraph">
      <app-work-experience
        [position]="item.position | token"
        [company]="item.company | token"
        [city]="item.city | token"
        [period]="item.period | token"
        [responsibilities]="item.responsibilities"
      ></app-work-experience>
    </div>
  </app-content>
</div>
