<div
  fxFlex="100%"
  fxLayoutAlign="center start"
  fxLayout="column"
  fxLayoutGap="16px"
  class="resume-container"
>
  <!-- Resume title and download button -->
  <app-title [text]="'resume.titles.pageTitle' | token">
    <app-download
      [downloadUrl]="'/assets/Silviu-Alexandru_Dinu_CV_ENG.pdf'"
      [text]="'resume.downloadAction' | token"
    ></app-download>
  </app-title>
  <!-- END Resume title and download button -->

  <app-horizontal-divider></app-horizontal-divider>

  <!-- About me information -->
  <app-title
    [text]="'resume.titles.aboutTitle' | token"
    [size]="'large'"
    [icon]="'person'"
  ></app-title>
  <app-content>
    <div class="resume-content-parapgraph">
      {{ "resume.about.content" | token }}
    </div>
  </app-content>
  <!-- END About me information -->

  <app-horizontal-divider></app-horizontal-divider>

  <!-- Work experience -->
  <app-title
    [text]="'resume.titles.workExperienceTitle' | token"
    [size]="'large'"
    [icon]="'briefcase'"
  ></app-title>
  <app-content>
    <div *ngFor="let item of experiences" class="resume-content-parapgraph">
      <app-experience
        [position]="item.position | token"
        [company]="item.company | token"
        [city]="item.city | token"
        [period]="item.period | token"
        [responsibilities]="item.responsibilities"
      ></app-experience>
    </div>
  </app-content>
  <!-- END Work experience -->

  <app-horizontal-divider></app-horizontal-divider>

  <!-- Education -->
  <app-title
    [text]="'resume.titles.educationTitle' | token"
    [size]="'large'"
    [icon]="'school_hat'"
  ></app-title>
  <app-content>
    <div *ngFor="let item of education" class="resume-content-parapgraph">
      <app-experience
        [position]="item.position | token"
        [company]="item.company | token"
        [city]="item.city | token"
        [period]="item.period | token"
        [responsibilities]="item.responsibilities"
        [links]="item.links"
      ></app-experience>
    </div>
  </app-content>
  <!-- END Education -->

  <app-horizontal-divider></app-horizontal-divider>

  <!-- My projects -->
  <app-title
    [text]="'resume.titles.projectsTitle' | token"
    [size]="'large'"
    [icon]="'idea'"
  ></app-title>
  <app-content>
    <div *ngFor="let item of projects" class="resume-content-parapgraph">
      <app-experience
        [isProject]="true"
        [title]="item.title | token"
        [city]="item.city | token"
        [period]="item.period | token"
        [description]="item.description | token"
        [website]="item.website"
        [repo]="item.repo"
        [tools]="item.tools"
      ></app-experience>
    </div>
  </app-content>
  <!-- END My projects -->

  <app-horizontal-divider></app-horizontal-divider>

  <!-- My skills -->
  <app-title
    [text]="'resume.titles.skillsTitle' | token"
    [size]="'large'"
    [icon]="'skills'"
  ></app-title>
  <app-content>
    <app-skills [skills]="skills"></app-skills>
  </app-content>
  <!-- END My skills -->
</div>
