<div
  fxFlex="100%"
  fxLayoutAlign="center start"
  fxLayout="column"
  fxLayoutGap="32px"
  class="resume-container"
>
  <app-title [text]="'resume.title' | token">
    <app-download></app-download>
  </app-title>

  <app-content>
    <div class="resume-content-parapgraph">
      {{ "resume.paragraph1" | token }}
    </div>
    <div class="resume-content-parapgraph">
      {{ "resume.paragraph2" | token }}
    </div>
    <div class="resume-content-parapgraph">
      {{ "resume.paragraph3" | token }}
    </div>
  </app-content>
</div>
