@import "../../../breakpoints.scss";
@import "../../../colors.scss";
@import "../../../sizes.scss";

mat-sidenav-container {
  min-height: 100vh;
  overflow-y: hidden;
}

.app-main-sidenav {
  width: 300px;
  background-color: lightcoral;
  color: white;
  text-align: center;
  font-size: 16xp;
  @media screen and (max-width: #{$md}) {
    padding-top: $toolbar-height;
  }
}

.app-main-content {
  color: $gray-700;
  background-color: $main-bg;
  overflow: auto;
  min-height: 100vh;
  
  @media screen and (max-width: #{$md}) {
    padding-top: $toolbar-height;
  }

  main {
    width: 100%;
  }

  #main {
    padding: 8px 32px;
    margin: 16px;

    @media screen and (max-width: #{$sm}) {
      padding: 8px 8px;
    }
  }
}
