$main-bg: #e2e0e0;

$main-text-color: #999292;
$menu-text-color: rgba(50, 50, 50, 0.8);

$primary-btn-bg: #2851a3;
$primary-btn-bg-hover: #1877f2;
$primary-btn-bg-outline: #b1b3b8;

$secondary-btn-bg: transparent;
$secondary-btn-bg-hover: transparent;
$secondary-btn-outline: transparent;
