$main-bg: #e2e0e0;

$main-text-color: #999292;
$menu-text-color: rgba(50, 50, 50, 0.8);

$primary-btn-bg: #0066f5;
$primary-btn-bg-hover: #2851a3;
$primary-btn-bg-outline: #b1b3b8;

$secondary-btn-bg: transparent;
$secondary-btn-bg-hover: transparent;
$secondary-btn-outline: transparent;

$disabled-grey: #999;
$gray: #6f757b;
$dark-gray: #303336;
$light-gray: #dfe1e2;
$black: #242628;

$blue: #0f6cff;

$gray-900: #1d1f20;
$gray-700: #6f757b;
$gray-500: #dfe0e2;
$gray-300: #f7f7f8;
$lighter-gray-900: rgba(50, 50, 50, 0.8);

$red-700: #bb0716;
$red-500: #e2091b;
$red-300: #fff5f6;

$green-700: #0d7348;
$green-500: #17cf82;
$green-300: #e8fcf4;

$blue-700: #0066f5;
$blue-500: #c2dbff;
$blue-300: #f0f6ff;

$orange-700: #e4a119;

