<div
  class="photo-container"
>
  <img src="assets/images/me.jpg" alt="Photo of myself" />

  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    class="social"
  >
    <app-social
      [url]="'social.github.url' | token"
      [icon]="'github_logo'"
    ></app-social>
    <app-social
      [url]="'social.linkedin.url' | token"
      [icon]="'linkedin_circle'"
    ></app-social>
    <app-social
      [url]="'social.twitter.url' | token"
      [icon]="'twitter'"
    ></app-social>
    <app-social
      [url]="'social.facebook.url' | token"
      [icon]="'facebook_circle'"
    ></app-social>
  </div>
</div>
