@import '../../../colors.scss';

.app-menu {
  margin-top: 48px;
  margin-bottom: 72px;
  overflow: auto;
  font-weight: 400;

  ul.menu-list {
    list-style: none;
    text-align: center;
    padding-left: 0;
    text-align: center;
    list-style-type: none;
    line-height: 24px;
    @media print {
      display: none;
    }
  }

  li.menu-item {
    // margin-top: 16px;
    height: 48px;
    width: 100%;
    font-size: 1rem;
    @media print {
      font-size: 12px;
    }
    text-align: center;
    vertical-align: middle;

    a {
      padding: 8px;
      text-decoration: none;
      vertical-align: middle;
      color: $menu-text-color;

      &:hover,
      &:focus,
      &:active {
        background: rgba(15, 108, 255, 0.1);
      }
    }

    // &:hover, &:focus {
    //   background: rgba(15, 108, 255, 0.1);
    // }

    .menu-item-route {
      .route {
        text-align: center;
      }
    }
  }
}
