<div class="app-menu">
  <app-contact-information></app-contact-information>

  <div fxLayoutAlign="center center">
    <mat-divider></mat-divider>
  </div>

  <ul class="menu-list" role="list">
    <li *ngFor="let route of routes" class="menu-item" role="menuitem">
      <!-- These are router paths -->
      <a
        *ngIf="!route.isExternal"
        fxFlex="100%"
        fxLayoutAlign="center center"
        fxLayout="column"
        class="route"
        [route]="route.path"
        routerLinkActive="active"
        [attr.href]="route.path"
        [routerLink]="[route.path]"
        [attr.target]="route.target"
        rel="noreferrer"
      >
        <div class="menu-item-route">
          <div
            fxFlex="100%"
            fxLayoutAlign="center center"
            fxLayout="row"
            class="route"
          >
            <span>{{ route.name }}</span>
          </div>
        </div>
      </a>

      <!-- Display external links sperately  -->
      <a
        *ngIf="route.isExternal"
        fxFlex="100%"
        fxLayoutAlign="center center"
        fxLayout="column"
        class="route"
        [attr.href]="route.path"
        [attr.target]="route.target"
        rel="noreferrer"
      >
        <div class="menu-item-route">
          <div
            fxFlex="100%"
            fxLayoutAlign="center center"
            fxLayout="row"
            class="route"
          >
            <span>{{ route.name }}</span>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
