.experience-container {
  .label {
    font-weight: 600;
    margin-right: 4px;
  }

  line-height: 18pt;

  a {
    word-wrap: break-word;
    width: 100%;
  }

  .detail {
    margin-top: 0;
    font-weight: 300;
    &:not(:last-child) {
      &::after {
        content: ' | ';
        margin-left: 4px;
      }
    }
  }

  .description {
    width: 100%;
    margin-top: 8px;
  }

  .experience-responsibilities,
  .experience-tools,
  .experience-links {
    margin-top: 4px;
    .responsibilities {
      li {
        margin-top: 8px;
      }
    }
    .tools {
      margin-top: 8px;

      .tool {
        &:not(:last-child) {
          &::after {
            content: ', ';
          }
        }
      }
    }

    .links {
      margin-top: 8px;
      word-break: break-word;
      width: 100%;
    }
  }

  .website-container {
    margin-top: 8px;
  }
}

.websites {
  width: 100%;
}
