<div
  fxFlex="100%"
  fxLayoutAlign="center start"
  fxLayout="column"
  fxLayoutGap="16px"
  class="about-container"
>
  <app-title [text]="'about.title' | token"></app-title>

  <app-horizontal-divider></app-horizontal-divider>

  <!-- Introduction -->
  <!-- <div class="introduction"> -->
  <app-title
    [text]="'about.titles.introduction' | token"
    [size]="'large'"
    [icon]="'person'"
  ></app-title>

  <app-content>
    <div class="about-content-parapgraph">
      {{ "about.contents.introduction.p1" | token }}
    </div>
  </app-content>
  <app-content>
    <div class="about-content-parapgraph">
      {{ "about.contents.introduction.p2" | token }}
    </div>
  </app-content>
  <app-content>
    <div class="about-content-parapgraph">
      {{ "about.contents.introduction.p3" | token }}
    </div>
  </app-content>
  <!-- </div> -->
  <!-- END Introduction -->

  <app-horizontal-divider></app-horizontal-divider>

  <!-- Technologies -->
  <!-- <div class="technologies"> -->
  <ng-container *ngIf="technologies.length > 0">
    <app-title
      [text]="'about.titles.tech' | token"
      [size]="'large'"
      [icon]="'tech'"
    ></app-title>
    <app-content>
      <div class="about-content-parapgraph">
        {{ "about.contents.technologies.p1" | token }}
      </div>
    </app-content>
    <app-content>
      <app-technologies [tech]="technologies"></app-technologies>
    </app-content>
    <!-- </div> -->

    <app-horizontal-divider></app-horizontal-divider>
  </ng-container>

  <!-- <div class="hobbies"> -->
  <!-- Hobbies -->
  <app-title
    [text]="'about.titles.hobbies' | token"
    [size]="'large'"
    [icon]="'hobbies'"
  ></app-title>
  <app-content>
    <div class="about-content-parapgraph">
      {{ "about.contents.hobbies.p1" | token }}
    </div>
  </app-content>

  <app-horizontal-divider
    [isCentered]="true"
    [length]="'half'"
  ></app-horizontal-divider>

  <ng-container *ngIf="skatingPictures.length > 0">
    <app-title
      [text]="'about.contents.hobbies.speedSkating' | token"
      [size]="'medium'"
      [icon]="'skate'"
    ></app-title>
    <app-content>
      <div class="about-content-parapgraph">
        {{ "about.contents.hobbies.p3" | token }}
      </div>
    </app-content>
    <app-content>
      <div class="about-content-parapgraph">
        {{ "about.contents.hobbies.p4" | token }}
      </div>
    </app-content>
    <app-content>
      <app-pictures [pictures]="skatingPictures"></app-pictures>
    </app-content>

    <app-horizontal-divider
      [isCentered]="true"
      [length]="'half'"
    ></app-horizontal-divider>
  </ng-container>

  <ng-container *ngIf="pictures.length > 0">
    <app-title
      [text]="'about.contents.hobbies.photography' | token"
      [size]="'medium'"
      [icon]="'camera'"
    ></app-title>
    <app-content>
      <app-pictures [pictures]="pictures"></app-pictures>
    </app-content>

    <app-horizontal-divider
      [isCentered]="true"
      [length]="'half'"
    ></app-horizontal-divider>
  </ng-container>

  <ng-container *ngIf="codewarsInfo?.leaderboardPosition < 260000">
    <app-title
      [text]="'about.contents.hobbies.codingChallenges' | token"
      [size]="'medium'"
      [icon]="'coding'"
    ></app-title>
    <app-content>
      <table>
        <!-- Name Column -->
        <thead>
          <tr>
            <th>Name</th>
            <th>Honor</th>
            <th>Position</th>
            <th>Score</th>
            <th>Level</th>
            <th>Source</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="name">
                <span>{{ codewarsInfo?.name }}</span>
              </div>
            </td>

            <!-- Honor Column -->
            <td>
              <div class="honor">
                <span>{{ codewarsInfo?.honor }}</span>
              </div>
            </td>

            <!-- Position Column -->
            <td>
              <div class="position">
                <span>{{ codewarsInfo?.leaderboardPosition }}</span>
              </div>
            </td>

            <td>
              <div class="rank-score">
                <span>{{ codewarsInfo?.ranks?.overall?.score }} </span>
              </div>
            </td>

            <td>
              <div class="rank-name">
                <span
                  class="hex {{
                    codewarsInfo?.ranks?.overall?.color || 'basic'
                  }}"
                >
                  {{ codewarsInfo?.ranks?.overall?.name }}
                </span>
              </div>
            </td>

            <td>
              <div class="source">
                <a
                  href="{{ 'about.contents.hobbies.codewarsUrl' | token }}"
                  rel="nopener"
                  >{{ "about.contents.hobbies.codewars" | token }}
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </app-content>

    <app-horizontal-divider
      [isCentered]="true"
      [length]="'half'"
    ></app-horizontal-divider>
  </ng-container>

  <app-title
    [text]="'about.contents.hobbies.games' | token"
    [size]="'medium'"
    [icon]="'gamepad'"
  ></app-title>
  <app-content>
    <div class="about-content-parapgraph">
      {{ "about.contents.hobbies.p2" | token }}
    </div>
  </app-content>
  <app-content>
    <app-games></app-games>
  </app-content>

  <!-- </div> -->
  <!-- END Hobbies -->
</div>
